@font-face {
  font-family: nypl-moon;
  src: url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.eot?viik85");
  src: url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.eot?viik85#iefix") format("embedded-opentype"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.woff2?viik85") format("woff2"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.ttf?viik85") format("truetype"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.woff?viik85") format("woff"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.svg?viik85#nypl-moon") format("svg");
  font-weight: 400;
  font-style: normal; }
a {
  border-radius: 0; }

a:focus {
  outline-color: #ffb81d;
  outline-style: solid;
  outline-width: 0.1875rem; }

input {
  border-radius: 0; }

input:focus {
  outline-color: #ffb81d;
  outline-style: solid;
  outline-width: 0.1875rem; }

select {
  border-radius: 0; }

select:focus {
  outline-color: #ffb81d;
  outline-style: solid;
  outline-width: 0.1875rem; }

button {
  border-radius: 0; }

button:focus {
  outline-color: #ffb81d;
  outline-style: solid;
  outline-width: 0.1875rem; }

.alert {
  background-color: #fee24a;
  padding: 0.8rem 0; }

.horizontal {
  display: table-cell;
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }
  .horizontal::before, .horizontal::after {
    content: "";
    display: table; }
  .horizontal::after {
    clear: both; }
  @media (max-width: 965px) {
    .horizontal {
      float: none; } }
  .horizontal li {
    display: inline-block;
    margin-left: 0;
    margin-right: 0.35em;
    vertical-align: bottom; }
    .horizontal li:last-child {
      margin-right: 0; }

.collapsed-menu-toggle,
.main-menu-toggle {
  display: none; }

@media (max-width: 965px) {
  .main-menu-toggle {
    background-color: #d0343a;
    color: #fff !important;
    display: block;
    margin: 0 -1rem;
    padding-right: 1rem;
    text-align: right;
    text-decoration: none; }
    .main-menu-toggle .nypl-icon {
      background-color: #d0343a;
      display: inline-block;
      fill: #fff;
      height: 1em;
      width: 1em;
      speak: none; }
      .main-menu-toggle .nypl-icon.reversed {
        background-color: inherit;
        fill: #fff; } }

.logo {
  position: absolute;
  width: 5rem; }
  @media (max-width: 965px) {
    .logo {
      float: none;
      margin-right: 0.5rem;
      position: relative; } }

.nypl-logo {
  background: url("../img/nypl.svg") no-repeat scroll 0 0/5rem auto #fff;
  border: 0;
  display: block;
  font-size: 0;
  height: 3rem;
  margin-top: 0.4rem;
  margin-bottom: 0.1rem;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  width: 5rem; }
  @media (max-width: 965px) {
    .nypl-logo {
      background: url("../img/lion.svg") no-repeat scroll 0 0/2.5rem auto #fff;
      margin-right: 0.5rem;
      width: 3rem; } }

header .content-wrapper {
  max-width: calc(82rem - (2rem));
  padding: 0 1rem;
  position: relative;
  margin: 0 auto; }
  header .content-wrapper::before, header .content-wrapper::after {
    content: "";
    display: table; }
  header .content-wrapper::after {
    clear: both; }
  @media (max-width: 965px) {
    header .content-wrapper {
      margin: 0; } }

.content {
  position: relative; }
  .content::before, .content::after {
    content: "";
    display: table; }
  .content::after {
    clear: both; }
  @media (max-width: 965px) {
    .content {
      width: 100%; } }

.service {
  background-color: #d0343a; }
  @media (max-width: 965px) {
    .service {
      display: table-footer-group; } }

@media (max-width: 965px) {
  display: table;
  width: 100%; }
header.collapsed {
  border-bottom: 2px solid #d7d4d0;
  position: relative; }
  header.collapsed.collapsed .login-toggle {
    right: 110px;
    top: 9px; }
    @media (max-width: 965px) {
      header.collapsed.collapsed .login-toggle {
        font-size: 12px;
        top: -19px; }
        header.collapsed.collapsed .login-toggle div {
          right: -100%; } }
  header.collapsed .main-menu-toggle {
    display: none; }
  header.collapsed .collapsed-menu-toggle {
    bottom: 0;
    color: #080807;
    display: block;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 1rem;
    text-transform: uppercase; }
  header.collapsed .logo {
    height: 30px;
    overflow: hidden; }
  header.collapsed .nypl-logo {
    background: url("../img/lion.svg") no-repeat scroll 0 0/3rem auto #fff;
    background-position-y: -4px;
    margin: 0; }
  header.collapsed .service-buttons {
    min-height: 10px; }
    header.collapsed .service-buttons li {
      display: none; }
  header.collapsed .nav-buttons {
    font-size: 0;
    font-weight: bold;
    height: 30px;
    margin-top: 0;
    text-transform: uppercase; }
    header.collapsed .nav-buttons li {
      box-shadow: none; }
    header.collapsed .nav-buttons a {
      padding: 0.1em 0.4em; }
    header.collapsed .nav-buttons .search {
      display: none; }

.service-buttons {
  font-size: 0.8rem;
  padding: 0;
  text-transform: uppercase; }
  @media (max-width: 965px) {
    .service-buttons {
      display: none;
      padding-top: 5px;
      width: 100%; }
      .service-buttons li {
        border-bottom: 1px solid #fff;
        float: left;
        line-height: 2;
        margin: 0 0 5px;
        width: 50%; } }
  .service-buttons li > a {
    background-color: #d0343a;
    border: 0 solid #5b544d;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: normal;
    height: auto;
    padding: 0.25rem 0.75rem;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: all 0.1s ease-in 0s;
    -moz-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s;
    display: block;
    font-weight: bold;
    height: auto;
    overflow: hidden;
    padding: 0 0.5em;
    padding-right: 1em;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .service-buttons li > a:hover {
      border-color: #5b544d;
      background-color: #fff;
      color: #5b544d; }
    .service-buttons li > a:focus {
      -webkit-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      -moz-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      box-shadow: inset 0 0 0 0.125rem #ffb81d;
      outline: none; }
    .service-buttons li > a.disabled, .service-buttons li > a[disabled="disabled"], .service-buttons li > a[disabled], .service-buttons li > a[disabled=true] {
      cursor: default;
      background-color: #d7d4d0; }
      .service-buttons li > a.disabled:hover, .service-buttons li > a[disabled="disabled"]:hover, .service-buttons li > a[disabled]:hover, .service-buttons li > a[disabled=true]:hover {
        background-color: #d7d4d0;
        color: #fff; }
    .service-buttons li > a.donate {
      background-color: #fff;
      border: 0 solid #5b544d;
      border-radius: 0;
      color: #d0343a;
      cursor: pointer;
      font-size: 0.8rem;
      font-weight: normal;
      height: auto;
      padding: 0.25rem 0.75rem;
      text-decoration: none;
      white-space: nowrap;
      -webkit-transition: all 0.1s ease-in 0s;
      -moz-transition: all 0.1s ease-in 0s;
      -o-transition: all 0.1s ease-in 0s;
      transition: all 0.1s ease-in 0s;
      display: block;
      font-weight: bold;
      height: auto;
      overflow: hidden;
      padding: 0 0.5em;
      padding-right: 1em;
      position: relative;
      text-overflow: ellipsis;
      white-space: nowrap; }
      .service-buttons li > a.donate:hover {
        border-color: #5b544d;
        background-color: #fff;
        color: #5b544d; }
      .service-buttons li > a.donate:focus {
        -webkit-box-shadow: inset 0 0 0 0.125rem #ffb81d;
        -moz-box-shadow: inset 0 0 0 0.125rem #ffb81d;
        box-shadow: inset 0 0 0 0.125rem #ffb81d;
        outline: none; }
      .service-buttons li > a.donate.disabled, .service-buttons li > a.donate[disabled="disabled"], .service-buttons li > a.donate[disabled], .service-buttons li > a.donate[disabled=true] {
        cursor: default;
        background-color: #d7d4d0; }
        .service-buttons li > a.donate.disabled:hover, .service-buttons li > a.donate[disabled="disabled"]:hover, .service-buttons li > a.donate[disabled]:hover, .service-buttons li > a.donate[disabled=true]:hover {
          background-color: #d7d4d0;
          color: #d0343a; }
  .service-buttons button.collapsible {
    background-color: #d0343a;
    border: 0 solid #5b544d;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: normal;
    height: auto;
    padding: 0.25rem 0.75rem;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: all 0.1s ease-in 0s;
    -moz-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s;
    display: block;
    font-weight: bold;
    height: auto;
    overflow: hidden;
    padding: 0 0.5em;
    padding-right: 1em;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .service-buttons button.collapsible .nypl-icon {
      background-color: #d0343a;
      display: inline-block;
      fill: #fff;
      height: 1em;
      width: 1em;
      speak: none;
      -webkit-transition: all 0.1s ease-in 0s;
      -moz-transition: all 0.1s ease-in 0s;
      -o-transition: all 0.1s ease-in 0s;
      transition: all 0.1s ease-in 0s; }
      .service-buttons button.collapsible .nypl-icon.reversed {
        background-color: inherit;
        fill: #fff; }
    .service-buttons button.collapsible:hover {
      border-color: #5b544d;
      background-color: #fff;
      color: #5b544d; }
      .service-buttons button.collapsible:hover .nypl-icon {
        background-color: #fff;
        display: inline-block;
        fill: #5b544d;
        height: 1em;
        width: 1em;
        speak: none; }
        .service-buttons button.collapsible:hover .nypl-icon.reversed {
          background-color: inherit;
          fill: #fff; }
    .service-buttons button.collapsible.active .nypl-icon {
      transform: scaleY(-1); }
    .service-buttons button.collapsible:focus {
      -webkit-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      -moz-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      box-shadow: inset 0 0 0 0.125rem #ffb81d;
      outline: none; }
    .service-buttons button.collapsible.disabled, .service-buttons button.collapsible[disabled="disabled"], .service-buttons button.collapsible[disabled], .service-buttons button.collapsible[disabled=true] {
      cursor: default;
      background-color: #d7d4d0; }
      .service-buttons button.collapsible.disabled:hover, .service-buttons button.collapsible[disabled="disabled"]:hover, .service-buttons button.collapsible[disabled]:hover, .service-buttons button.collapsible[disabled=true]:hover {
        background-color: #d7d4d0;
        color: #fff; }

.email-toggle {
  position: relative; }
  .email-toggle a::after {
    transition: all 0.1s; }
  .email-toggle a.active::after {
    transform: scaleY(-1); }
  .email-toggle .subscribe-button {
    background-color: #5b544d;
    border: 0.0625rem solid #fff;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    height: auto;
    padding: 0.25rem 0.75rem;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: all 0.1s ease-in 0s;
    -moz-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s; }
    .email-toggle .subscribe-button:hover {
      border-color: #5b544d;
      background-color: #fff;
      color: #5b544d; }
    .email-toggle .subscribe-button:focus {
      -webkit-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      -moz-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      box-shadow: inset 0 0 0 0.125rem #ffb81d;
      outline: none; }
    .email-toggle .subscribe-button.disabled, .email-toggle .subscribe-button[disabled="disabled"], .email-toggle .subscribe-button[disabled], .email-toggle .subscribe-button[disabled=true] {
      cursor: default;
      background-color: #d7d4d0; }
      .email-toggle .subscribe-button.disabled:hover, .email-toggle .subscribe-button[disabled="disabled"]:hover, .email-toggle .subscribe-button[disabled]:hover, .email-toggle .subscribe-button[disabled=true]:hover {
        background-color: #d7d4d0;
        color: #fff; }
  .email-toggle form {
    background-color: #776e64;
    color: #fff;
    font-size: 1rem;
    min-width: 17rem;
    position: absolute;
    padding: 1rem;
    right: 0;
    text-transform: none;
    z-index: 1; }
    @media (max-width: 965px) {
      .email-toggle form {
        left: 0;
        right: auto; } }
  .email-toggle .email-toggle-title {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.5;
    margin: 0; }
  .email-toggle fieldset {
    border: 0;
    color: #080807;
    margin: 1em 0 0.5em;
    padding: 0;
    position: relative; }
  .email-toggle label {
    display: block;
    font-weight: bold;
    margin-left: 0.5em;
    position: absolute; }
  .email-toggle input[type=text] {
    background-color: #c0bab4;
    border: 0;
    padding: 0;
    -webkit-box-shadow: inset 0 0 0 2px #c0bab4;
    -moz-box-shadow: inset 0 0 0 2px #c0bab4;
    box-shadow: inset 0 0 0 2px #c0bab4;
    height: 2rem;
    margin-right: 1px;
    padding: 1.5em 0 0;
    text-indent: 0.5em;
    transition: all 0.2s ease-out;
    width: 100%; }
    .email-toggle input[type=text].active {
      width: 16rem; }
    .email-toggle input[type=text]:focus {
      background-color: #fff;
      -webkit-box-shadow: inset 0 0 0 4px #ffb81d !important;
      -moz-box-shadow: inset 0 0 0 4px #ffb81d !important;
      box-shadow: inset 0 0 0 4px #ffb81d !important;
      color: #5b544d;
      outline: none; }
  .email-toggle .links {
    margin: 1em 0 0; }

.login-toggle {
  font-size: 0.8rem;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 1.5rem; }
  .login-toggle button {
    text-transform: uppercase; }
  .login-toggle div {
    background-color: #776e64;
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    padding-bottom: 0;
    position: absolute;
    right: 0;
    text-transform: none;
    z-index: 1; }
  .login-toggle a.inverted {
    display: block;
    margin-bottom: 1em;
    white-space: nowrap; }
  .login-toggle .welcome-message {
    display: inline-block;
    margin-right: 1em;
    text-transform: none; }
  .login-toggle > a,
  .login-toggle button.collapsible {
    background-color: #776e64;
    border: 0 solid #5b544d;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: normal;
    height: auto;
    padding: 0.25rem 0.75rem;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: all 0.1s ease-in 0s;
    -moz-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s;
    display: block;
    font-weight: bold;
    height: auto;
    overflow: hidden;
    padding: 0 0.5em;
    padding-right: 1em;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .login-toggle > a .nypl-icon,
    .login-toggle button.collapsible .nypl-icon {
      background-color: #776e64;
      display: inline-block;
      fill: #fff;
      height: 1em;
      width: 1em;
      speak: none;
      -webkit-transition: all 0.1s ease-in 0s;
      -moz-transition: all 0.1s ease-in 0s;
      -o-transition: all 0.1s ease-in 0s;
      transition: all 0.1s ease-in 0s; }
      .login-toggle > a .nypl-icon.reversed,
      .login-toggle button.collapsible .nypl-icon.reversed {
        background-color: inherit;
        fill: #fff; }
    .login-toggle > a:hover,
    .login-toggle button.collapsible:hover {
      border-color: #5b544d;
      background-color: #fff;
      color: #5b544d; }
      .login-toggle > a:hover .nypl-icon,
      .login-toggle button.collapsible:hover .nypl-icon {
        background-color: #fff;
        display: inline-block;
        fill: #5b544d;
        height: 1em;
        width: 1em;
        speak: none; }
        .login-toggle > a:hover .nypl-icon.reversed,
        .login-toggle button.collapsible:hover .nypl-icon.reversed {
          background-color: inherit;
          fill: #fff; }
    .login-toggle > a.active .nypl-icon,
    .login-toggle button.collapsible.active .nypl-icon {
      transform: scaleY(-1); }
    .login-toggle > a:focus,
    .login-toggle button.collapsible:focus {
      -webkit-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      -moz-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      box-shadow: inset 0 0 0 0.125rem #ffb81d;
      outline: none; }
    .login-toggle > a.disabled, .login-toggle > a[disabled="disabled"], .login-toggle > a[disabled], .login-toggle > a[disabled=true],
    .login-toggle button.collapsible.disabled,
    .login-toggle button.collapsible[disabled="disabled"],
    .login-toggle button.collapsible[disabled],
    .login-toggle button.collapsible[disabled=true] {
      cursor: default;
      background-color: #d7d4d0; }
      .login-toggle > a.disabled:hover, .login-toggle > a[disabled="disabled"]:hover, .login-toggle > a[disabled]:hover, .login-toggle > a[disabled=true]:hover,
      .login-toggle button.collapsible.disabled:hover,
      .login-toggle button.collapsible[disabled="disabled"]:hover,
      .login-toggle button.collapsible[disabled]:hover,
      .login-toggle button.collapsible[disabled=true]:hover {
        background-color: #d7d4d0;
        color: #fff; }
    .login-toggle > a:link,
    .login-toggle button.collapsible:link {
      text-decoration: none; }
  @media (max-width: 965px) {
    .login-toggle {
      top: -2rem; }
      .login-toggle .welcome-message {
        display: none; } }

.nav-buttons {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-top: calc(3rem + 1rem); }
  .nav-buttons::before, .nav-buttons::after {
    content: "";
    display: table; }
  .nav-buttons::after {
    clear: both; }
  @media (max-width: 1120px) {
    .nav-buttons {
      font-size: 0.9rem; } }
  @media (max-width: 965px) {
    .nav-buttons {
      display: none;
      font-size: 1.2rem;
      margin-top: 1rem; }
      .nav-buttons li {
        border-bottom: 1px solid #d7d4d0;
        float: left;
        height: auto;
        line-height: 2;
        margin: 0 0 5px;
        width: 50%; }
      .nav-buttons li.search {
        border: 0;
        font-size: 1rem;
        position: relative;
        right: initial;
        top: initial;
        width: 100%; } }
  .nav-buttons a {
    border: 0;
    color: #080807;
    display: block;
    overflow: hidden;
    padding: 0.2em 0.4em;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 0.1s;
    white-space: nowrap; }
    .nav-buttons a:hover {
      color: #d0343a; }
  .nav-buttons li {
    box-shadow: inset 0 0 0 #d0343a;
    transition: box-shadow 0.2s; }
  .nav-buttons li:hover,
  .nav-buttons li.active {
    box-shadow: inset 0 -4px 0 #d0343a; }

li.search #main-search {
  background-color: #776e64;
  margin: 0;
  position: relative; }
  li.search #main-search .search-button {
    background-color: #5b544d;
    border: 0 solid #5b544d;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    height: 2rem;
    padding: 0 0.75rem;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: all 0.1s ease-in 0s;
    -moz-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s; }
    li.search #main-search .search-button:hover {
      border-color: #5b544d;
      background-color: #c0bab4;
      color: #5b544d; }
    li.search #main-search .search-button:focus {
      -webkit-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      -moz-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      box-shadow: inset 0 0 0 0.125rem #ffb81d;
      outline: none; }
    li.search #main-search .search-button.disabled, li.search #main-search .search-button[disabled="disabled"], li.search #main-search .search-button[disabled], li.search #main-search .search-button[disabled=true] {
      cursor: default;
      background-color: #d7d4d0; }
      li.search #main-search .search-button.disabled:hover, li.search #main-search .search-button[disabled="disabled"]:hover, li.search #main-search .search-button[disabled]:hover, li.search #main-search .search-button[disabled=true]:hover {
        background-color: #d7d4d0;
        color: #fff; }
  li.search #main-search.display {
    display: block; }
  li.search #main-search .search-query-content {
    position: relative; }
  li.search #main-search .search-select {
    background-color: #776e64;
    font-size: 0.9rem;
    right: 0;
    padding: 1px 3px 3px;
    position: absolute;
    top: 2rem;
    white-space: nowrap;
    z-index: 1; }
  li.search #main-search .search-radio-label {
    display: inline-block;
    height: 2rem;
    line-height: 2;
    padding: 0 0.75rem 0 0.5rem; }
    li.search #main-search .search-radio-label label {
      background-color: #c0bab4;
      font-weight: normal;
      padding: 0.1875rem 0; }
    li.search #main-search .search-radio-label input[type=radio],
    li.search #main-search .search-radio-label input[type=checkbox] {
      height: initial;
      margin-right: 0.25rem; }
    li.search #main-search .search-radio-label.selected {
      background-color: #c0bab4; }
    li.search #main-search .search-radio-label.focus {
      box-shadow: inset 0 0 0 3px #ffb81d; }
  li.search #main-search input:focus {
    outline: none; }
  li.search #main-search .search-query-label {
    color: #fff;
    height: 2rem;
    left: 0.5rem;
    line-height: 2;
    position: absolute; }
  li.search #main-search .form-text {
    background-color: #c0bab4;
    border: 0;
    padding: 0;
    box-shadow: inset 0 0 0 2px #5b544d;
    height: 2rem;
    margin-right: 1px;
    padding: 0;
    text-indent: 0.5rem;
    transition: all 0.1s ease-out;
    width: 10rem; }
    li.search #main-search .form-text.active {
      width: 16rem; }
    li.search #main-search .form-text:focus {
      background-color: #fff;
      box-shadow: inset 0 0 0 4px #ffb81d !important;
      color: #5b544d;
      outline: none; }
  @media (max-width: 965px) {
    li.search #main-search .form-text,
    li.search #main-search .search-button,
    li.search #main-search .search-radio-label {
      height: 2.5rem;
      line-height: 2.5; }
    li.search #main-search .form-text,
    li.search #main-search .form-text.active {
      margin: 0;
      width: 70%; }
    li.search #main-search .search-button {
      margin: 0;
      width: 30%; }
    li.search #main-search .search-select {
      top: 2.5rem; } }

@font-face {
  font-family: nypl-moon;
  src: url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.eot?viik85");
  src: url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.eot?viik85#iefix") format("embedded-opentype"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.woff2?viik85") format("woff2"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.ttf?viik85") format("truetype"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.woff?viik85") format("woff"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.svg?viik85#nypl-moon") format("svg");
  font-weight: 400;
  font-style: normal; }
footer {
  background-color: #54514a;
  color: #fff;
  font-size: 0.9rem;
  margin-top: 5rem; }
  footer ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0; }
    footer ul::before, footer ul::after {
      content: "";
      display: table; }
    footer ul::after {
      clear: both; }

.copyright {
  background: url("../img/nypl-rev.svg") no-repeat scroll 0 0/5rem auto transparent;
  border: 0;
  display: block;
  height: 3rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  white-space: nowrap; }
  .copyright p {
    padding-top: calc(3rem + 1em); }

.footerLinks li {
  margin-left: 0; }
.footerLinks > li {
  float: left;
  width: 25%; }
  @media (max-width: 965px) {
    .footerLinks > li {
      float: none;
      width: auto; } }

code {
  padding: 0; }

pre {
  border: 0.0625rem solid #d7d4d0; }

.toolkit-example {
  border: 0.0625rem solid #d7d4d0;
  padding: 3rem 1rem 0.5rem;
  position: relative; }
  .toolkit-example::before {
    border: 0.0625rem solid #d7d4d0;
    border-left: 0;
    border-top: 0;
    color: #776e64;
    content: "EXAMPLE";
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    left: 0;
    padding: 0.3em 1rem;
    position: absolute;
    text-transform: uppercase;
    top: 0; }

.my-text-field {
  background-color: #c0bab4;
  border: 0;
  margin: 0 0 1rem;
  padding: 0;
  position: relative; }
  .my-text-field label,
  .my-text-field span {
    display: block;
    font-weight: bold;
    margin-left: 0.5em; }
  .my-text-field label {
    display: block;
    position: absolute; }
  .my-text-field input[type=text] {
    background-color: #c0bab4;
    border: 0;
    padding: 0;
    -webkit-box-shadow: inset 0 0 0 2px #c0bab4;
    -moz-box-shadow: inset 0 0 0 2px #c0bab4;
    box-shadow: inset 0 0 0 2px #c0bab4;
    height: 2rem;
    margin-right: 1px;
    padding: 1.5em 0 0;
    text-indent: 0.5em;
    transition: all 0.2s ease-out;
    width: 100%; }
    .my-text-field input[type=text].active {
      width: 16rem; }
    .my-text-field input[type=text]:focus {
      background-color: #fff;
      -webkit-box-shadow: inset 0 0 0 4px #ffb81d !important;
      -moz-box-shadow: inset 0 0 0 4px #ffb81d !important;
      box-shadow: inset 0 0 0 4px #ffb81d !important;
      color: #5b544d;
      outline: none; }

.my-select-box {
  background-color: #c0bab4;
  border: 0;
  margin: 0 0 1rem;
  padding: 0;
  position: relative; }
  .my-select-box label,
  .my-select-box span {
    display: block;
    font-weight: bold;
    margin-left: 0.5em; }
  .my-select-box label {
    display: block;
    font-weight: bold;
    margin-left: 0.5em; }
  .my-select-box select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIwLjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0LjkgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQuOSAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiM0NDQ0NDQ7fQo8L3N0eWxlPgo8dGl0bGU+YXJyb3dzPC90aXRsZT4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIxLjQsNC43IDIuNSwzLjIgMy41LDQuNyAiLz4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIzLjUsNS4zIDIuNSw2LjggMS40LDUuMyAiLz4KPC9zdmc+Cg==) no-repeat 99% #c0bab4;
    border: 0;
    border-radius: 0;
    height: 2rem;
    padding-right: 7%;
    padding-left: 0.5em;
    width: 100%; }

.toolkit-example-dark {
  border: 0.0625rem solid #d7d4d0;
  padding: 3rem 1rem 0.5rem;
  position: relative;
  background: #54514a; }
  .toolkit-example-dark::before {
    border: 0.0625rem solid #d7d4d0;
    border-left: 0;
    border-top: 0;
    color: #776e64;
    content: "EXAMPLE";
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    left: 0;
    padding: 0.3em 1rem;
    position: absolute;
    text-transform: uppercase;
    top: 0; }
  .toolkit-example-dark::before {
    background-color: #fff; }

.toolkit-svg-icon {
  border: 1px dotted #d7d4d0;
  margin-right: 1rem; }

.nypl-icon {
  background-color: #fff;
  display: inline-block;
  fill: #080807;
  height: 10em;
  width: 10em;
  speak: none; }
  .nypl-icon.reversed {
    background-color: inherit;
    fill: #fff; }

.my-table {
  border-collapse: collapse;
  display: table;
  position: relative;
  width: 100%; }
  .my-table tr {
    border-bottom: 0.0625rem solid #d7d4d0;
    display: table-row; }
  .my-table thead,
  .my-table th {
    border-bottom: 0.0625rem solid #080807;
    font-weight: bold;
    text-align: left; }
  .my-table th,
  .my-table td {
    display: table-cell;
    overflow: hidden;
    padding: 0.125rem 0.25rem;
    text-overflow: ellipsis; }
  .my-table td {
    border-bottom: 1px solid #d7d4d0;
    padding-bottom: 1rem;
    vertical-align: top; }

/*# sourceMappingURL=docs.css.map */
