@import "css3";
@import "measurements";
@import "colors";
// Buttons stylings
//TODO: move button style in _forms.scss to this partial
//      add in styles for request button

@warn "use 'default' in default names (from colors.scss i suppose)";
@warn "some magic numbers";


@mixin basic-button ($text-color: white, $border-color: $buttonTextColor, $background-color: $nyplsearchcolordark, $border-radius: 0, $border-width: 0.125rem, $disabled-color: $nypllightgray) {
  background-color: $background-color;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  color: $text-color;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700; // equivalent of a medium weight
  height: 2rem;
  text-transform: uppercase;

  @include transition(all, $hover-time, ease-in);

  &:hover {
    background-color: invert($background-color);
    color: invert($text-color);
  }

  &:focus {
    @include box-shadow(inset 0 0 0 4px $focuscolor);
    outline: none;
  }

  &.disabled,
  &[disabled="disabled"],
  &[disabled], &[disabled=true] {

    @warn "set universal disabled style";
    cursor: default;
    background-color: $disabled-color;

    &:hover {
      background-color: $disabled-color;
      color: $text-color;
    }
  }
}

@mixin request-button {
  @include basic-button ($text-color: $buttonBackgroundColor, $border-color: $nyplbluedark, $background-color: $nyplbluedark, $border-radius: 0.25rem);

  &:hover {
    background: $buttonBackgroundColor;
    border-color: $nyplbluedark;
    color: $nyplbluedark;
  }
}
