//
// basic card styles
//

@import "colors";
@import "buttons";
@import "measurements";
@import "css3";
@import "general-mixins";
@import "microformats";
@import "media-queries";

// TOOD: Move debugger out to a util or higher level so it can be used by other files
@mixin debugger($is-child: false) {
  @if $is-child == true {
    border: $general-border-width dotted #d40c3e;

   img {
    border: $general-border-width dotted #f8ae0f;
    }

  } @else {
    border: $general-border-width dotted #d40c3e;
  }
}

//
// We should not assume all cards will be book
// types of cards:
// TODO: convert this to a mixin where we can include some @if @else logic
// so we can "flag" the type of card it is w/ a variable and then have the styles modify the card based on its content type...
//

$default-card-type: card;
$book-card-type: book;

// Leaving this here for time being, might be useful for falling back
//
// .book-title-image-lockup {
//   @include media($intermediate-breakpoint) {
//     background-color: $nypl-red-tint;
//   }

//   @include media($mobile-breakpoint) {
//     background-color: $nypl-blue-tint;
//     //flex-flow: wrap;
//   }

//   @include media($xtrasmall-breakpoint) {
//     background-color: $nypl-green-tint;
//     display: block;
//   }
// }

.nypl-card-container {
  display: flex;
  flex-wrap: wrap;
}

.#{$book-card-type}-item {
  // @include debugger;
  @include box-sizing(border-box);
  //@include clearfix;
  @include media($xtralarge-breakpoint, $min-width: true) {
    //background: lightsalmon;
    display: grid;
    grid-column-gap: $general-margin;
    grid-template-areas: "img title title"
                        "img author author"
                        "details details details"
                        "buttons buttons buttons"
                        "tags tags tags";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto auto auto;
    max-width: 47%;
    //background: #c0ffee;
      // &:nth-child(odd) {
      //   margin-right: $general-margin;
      // }
    }

  @include media($intermediate-breakpoint, $min-width: true) {
    //background: #c0ee22;
    display: grid;
    grid-template-areas: "img title title"
                         "img author author"
                         "img details details"
                         "img buttons buttons"
                         "tags tags tags";
    grid-template-rows: auto min-content min-content auto auto;
    max-width: 100%;
  }

  @include media($mobile-breakpoint, $min-width: true) {
    //background: #c7aaff;
    display: grid;
    grid-template-areas: "img title title"
                         "img author author"
                         "img details details"
                         "img buttons buttons"
                         "tags tags tags";
    grid-template-rows: auto min-content min-content auto auto;
    max-width: 100%;
  }

  @include media($xtrasmall-breakpoint, $min-width: true) {
    //background: #3fd9ac;
    display: block;
    grid-template-areas: unset;
    max-width: 100%;
  }

  // background: lightgreen;
  // border-bottom: $general-border-width / 1.5 solid $nypl-gray-cool;
  align-items: start;
  display: grid;
  flex: 1 auto;
  list-style-type: none;
  grid-column-gap: $general-margin;
  grid-template-areas: "img title title"
                       "img author author"
                       "details details details"
                       "buttons buttons buttons"
                       "tags tags tags";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto auto auto;
  grid-row-gap: 0;
  margin: 0 0 1.5em;
  max-width: 50%;
  padding-bottom: ($general-margin / 1.5);
  padding-right: $general-padding;
 
  &-title {
    // @include debugger;
    @include media($xtralarge-breakpoint) {
      grid-area: title;
    }

    @include media($mobile-breakpoint) {
      //background-color: $nypl-blue-tint;
      grid-area: title;
    }

    @include media($xtrasmall-breakpoint) {
      grid-area: title;
    }

    font-weight: 700;
    grid-area: title;
    line-height: 1.3;
    margin: 0;
  }

  &-author {
    // @include debugger;
    font-weight: 400;
    grid-area: author;
    line-height: 1.3;
  }

  &-details {
    // @include debugger;
    .description {
      align-self: start;
      font-size: $slightly-larger-type;
      line-height: 1.2;
    }

    .picked-by,
    .reviewer-location {
      color: $nypl-gray;
      font-style: italic;
      margin-bottom: 0;
    }

    .reviewer-location {
      font-size: $small-type;
      padding-left: ($general-padding * 1.25);
    }

    .nypl-icon {
      fill: $nypl-gray;
      height: 0.85em;
      width: 0.85em;
    }

    grid-area: details;
    margin-top: $general-margin;
  }

  &-catalog-links {
    @include media($xtralarge-breakpoint) {
      grid-area: buttons;
    }

    @include media($mobile-breakpoint) {
      grid-area: buttons;
    }

    background-color: $page-background-color;
    grid-area: buttons;
    justify-content: center;

    a {
      margin: ($general-margin / 1.3) 1% ($general-margin / 1.3) 0;
    }

    a:last-child {
      margin-left: 1%;
    }
  }

  a {
    @include basic-button(
      $button-icon: true,
      $background-color: $nypl-white,
      $border-color: $nypl-blue,
      $border-radius: ($general-border-radius * 3),
      $border-width: ($general-border-width / 1.5),
      $hover-text-color: $nypl-white,
      $hover-background-color: $nypl-blue,
      $text-color: $nypl-blue
    ) {

      .nypl-icon {
        // @include debugger;
        position: relative;
        top: 0.3em;
      }

      span {
        // @include debugger;
        position: relative;
        top: -0.37em;
      }

      //margin: $general-margin 0 ($general-margin / 1.3);
    }
  }

  &-image-box {
    //@include debugger($is-child: true);
    @include media($xtralarge-breakpoint, $min-width: true) {
      grid-area: img;
      margin: 0;
      overflow: hidden;
    }

    @include media($intermediate-breakpoint) {
      grid-area: img;
      height: auto;
      overflow: hidden;
      width: 100%;
    }

    @include media($xtrasmall-breakpoint) {
      height: 35vh;
      overflow: hidden;
    }

    background-color: $page-background-color;
    grid-area: img;
    height: 12.5em;
    width: 8.3125em;

    img {
      width: 100%;
    }
  }

  &-tags {
    align-self: end;
    color: $nypl-red;
    grid-area: tags;
    font-size: $small-type;
  }
}

