//
// basic card styles
//

@import "colors";
@import "buttons";
@import "measurements";
@import "css3";
@import "general-mixins";
@import "microformats";
@import "media-queries";

@mixin debugger() {
  border: $general-border-width dotted #d40c3e;
}

//
// We should not assume all cards will be book
// types of cards:
// TODO: convert this to a mixin where we can include some @if @else logic
// to so we can "flag" the type of card it is w/ a variable and then have the styles modify the card based on its content type...
//

$default-card-type: card;
$book-card-type: book;


.#{$book-card-type}-item {
  @include debugger;
  border-bottom: 2px solid $nypl-gray-cool;
  list-style-type: none;
  margin: 0.5em 0.25em 1.5em;
  padding-bottom: 1em;
  padding-top: 0.75em;
  max-width: 100%;
  @include clearfix;

  &-title {
    font-weight: 700;
  }

  a {
    //@include debugger;
    @include basic-button(
      $button-icon: true,
      $background-color: $nypl-white,
      $border-color: $nypl-blue,
      $border-radius: ($general-border-radius * 9),
      $border-width: $general-border-width,
      $hover-text-color: $nypl-white,
      $hover-background-color: $nypl-blue,
      $text-color: $nypl-blue
    ) {
      
      .nypl-icon {
        @include debugger;
        position: relative;
        top: 0.3em;
      }

      span {
        @include debugger;
        position: relative;
        top: -0.37em;
      }
    }
  }

  &-image-box {
    @include debugger;
  }

  &-tags {
    color: $nypl-red;
    font-size: $small-type;
  }
}

