@warn "_colors.scss now using set from Marketing. Probably do some magic for eaching to prefix nypl automatically to each variable...";
// nypl _colors.scss

// NYPL Reds
$nypl-red: #d0343a;

$nypl-red-dark: #97272c;

// NYPL Blues
$nypl-blue: #1b7fa7;

$nypl-light-blue: lighten($nypl-blue, 30%);

$nypl-blue-dark: #135772;

// NYPL Monochromatic
$nypl-gray-cool: #76777b;

$nypl-gray: #776e64;

$nypl-gray-brown: #54514a;

$nypl-dark-gray: darken($nypl-gray, 40%);

$nypl-light-gray: lighten($nypl-gray, 40%);

$nypl-white: #fff;

$nypl-black: #111;


// NYPL Yellows for Alerts & Focus halos etc.
$nypl-yellow: #fee24a;

$nypl-orange: #ffb81d;

$nypl-orange-desaturated: desaturate($nypl-orange, 40%);

// NYPL Greens
$nypl-green: #799a05;

$nypl-green-dark: #497629;

// semantic colors
$nypl-search-color: $nypl-light-gray;
$nypl-search-color-dark: $nypl-gray;//darken($nypl-search-color, 10%);
$nypl-search-color-light: lighten($nypl-search-color, 10%);

$focus-color: $nypl-orange;

$page-color: $nypl-dark-gray;
$page-color-light: $nypl-light-gray;
$page-text-color: $nypl-dark-gray;

$nypl-footer-color: $nypl-gray-brown;
$highlight-color: $nypl-red;
$alert-color: $nypl-yellow;
$page-background-color: $nypl-white;
$nypl-bar-color: rgba(0, 0, 0, 0.1);

// link colors
$link-color: darken($nypl-blue, 5%);
$link-visited-color: darken($link-color, 10%);
$link-hover-color: lighten($link-color, 10%);
$inverted-link-color: $nypl-white;
$inverted-link-visited-color: darken($inverted-link-color, 10%);

// button colors not already defined above.
$button-text-color: $nypl-white;

$button-border-color: $nypl-dark-gray;

$button-background-color: $nypl-white;
//
//
// Put our tinted colors here rules here
// this function borrowed from Bourbon
// https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/functions/_tint.scss

@function tint($color, $percent) {
  @return mix($nypl-white, $color, $percent);
}

// field error bg
$nypl-red-tint: tint($nypl-red, 30%);
$nypl-red-error: tint($nypl-red, 80%);
$nypl-blue-tint: tint($nypl-blue, 30%);
$nypl-yellow-tint: tint($nypl-yellow, 50%);
$nypl-green-tint: tint($nypl-green, 40%);
