@import "buttons";

// overriding focus borders to make them stand out

$form-padding: 0.5em;

@warn "lots of magic numbers here";

@each $tag in a, input, select, button {
  #{$tag} {
    border-radius: 0;
  }

  #{$tag}:focus {
    outline-color: $focus-color;
    outline-style: solid;
    outline-width: $focus-width;
  }
}

@mixin label {
  display: block;
  font-weight: bold;
  margin-left: $form-padding;
}

@mixin fieldset {
  background-color: $nypl-search-color-light;
  border: none;
  margin: 0 0 1rem;
  padding: 0;
  position: relative;

  label, span {
    @include label;
  }
}

@mixin input {
  background-color: $nypl-search-color-light;
  border: none;
  padding: 0;
}

@mixin textfield {
  @include input;

  @include box-shadow(inset 0 0 0 2px $nypl-search-color-light);
  height: 2rem;
  margin-right: 1px;
  padding: 1.5em 0 0;
  text-indent: $form-padding;
  transition: all 0.2s ease-out;
  width: 100%;

  &.active {
    width: 16rem;
  }

  &:focus {
    background-color: white;
    @include box-shadow(inset 0 0 0 4px $focus-color !important);
    color: $nypl-search-color-dark;
    outline: none;
  }
}

@mixin text-fieldset {
  @include fieldset;

  label {
    display: block;
    position: absolute;
  }

  input[type=text] {
    @include textfield;
  }
}

@mixin select-fieldset {
  @include fieldset;

  label {
    @include label;
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIwLjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0LjkgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQuOSAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiM0NDQ0NDQ7fQo8L3N0eWxlPgo8dGl0bGU+YXJyb3dzPC90aXRsZT4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIxLjQsNC43IDIuNSwzLjIgMy41LDQuNyAiLz4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIzLjUsNS4zIDIuNSw2LjggMS40LDUuMyAiLz4KPC9zdmc+Cg==) no-repeat 99% $nypl-search-color-light;
    border: 0;
    border-radius: 0;
    height: 2rem;
    padding-right: 7%;
    padding-left: $form-padding;
    width: 100%;
  }
}

@mixin simple-radiobutton {
  label {
    @warn "fix !important";
    background-color: $nypl-search-color-light;
    font-weight: normal !important;
    padding: 0.1875rem 0;
  }

  input[type=radio], input[type=checkbox] {
    height: initial;
    margin-right: 0.25rem;
  }
}

@mixin radiobutton-fieldset {
  @include fieldset;
  @include simple-radiobutton;
}

@mixin checkbox-fieldset {
  @include radiobutton-fieldset;
}

@mixin alphabetical-filter {
  @include fieldset;

  button {
    @include basic-button($background-color: $nypl-search-color-light, $text-color:$page-color, $border-width: 0);
    @warn "fix those !importants";
    display: inline-block !important;
    font-weight: normal;
    margin: 0 0 0.5em 0.5em;
    padding: 0.2rem 0.25em;
    width: 2em;

    &.long {
      // because “any” has different lengths in different langs
      min-width: 4.75em;
    }
  }
}

@warn "make these as mixins";

button.collapsible {
  border: none;
  cursor: pointer;
}


@mixin search-form() {
  @warn "refactor this";
  // used for left-column searches

  margin: 1rem 0;

}
