@mixin clearfix() {
  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

$bullet-size: 0.5rem;

@mixin custom-list-bullet($color: $nypl-light-gray, $hides-on-mobile: true) {
  list-style-type: none;
  margin-left: $bullet-size;

  @if ($hides-on-mobile == true) {
    @include media($mobile-breakpoint) {
      margin-left: 0;
    }
  }

  &::before {
    content: "";
    background-color: $color;
    display: inline-block;
    position: relative;
    height: $bullet-size;
    width: $bullet-size;
    @include border-radius($bullet-size * 0.5);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    margin-right: ($bullet-size * 0.5);
    top: 0;

    @if ($hides-on-mobile == true) {
      @include media($mobile-breakpoint) {
        display: none;
      }
    }
  }
}

@mixin spinner-element {
  $bar-color: transparentize($nypl-white, 0.5);
  $spinner-time: 1.5s;

  @keyframes spinner-right {
    0% {
      right: -5rem;
    }

    100% {
      right: -1rem;
    }
  }

  overflow: hidden;
  position: relative;

  &.spinning {
    &::after {
      animation: spinner-right $spinner-time linear infinite;
      background: -moz-repeating-linear-gradient(to right, $bar-color, $bar-color 1rem, transparent 1.1rem, transparent 2rem, $bar-color 2.1rem);
      background: repeating-linear-gradient(to right, $bar-color, $bar-color 1rem, transparent 1.1rem, transparent 2rem, $bar-color 2.1rem);
      content: "";
      display: block;
      height: 100%;
      margin-top: 0;
      position: absolute;
      right: -50%;
      top: 0;
      transform: skewX(-30deg);
      width: 200%;
    }

    &:enabled:hover::after {
      background-color: transparentize($nypl-gray, 0.25);
    }
  }
}

@mixin screenreader-only {
  // to hide something from view but make it visible to screen readers
  // used on some table headers
  // based on last.fm tables
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  margin: -0.1rem;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

$white: #fff; // for tint lint pass
$black: #000; // for shade lint pass

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix($white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix($black, $color, $percentage);
}
