@import "measurements";
@import "microformats-mixins";
@import "media-queries";

$logo-width: 5rem;
$logo-height: 3rem;
$collapsed-service-height: 10px;
$collapsed-nav-height: 30px;

@warn "lots of refactoring to do here";

.alert {
  @include banner-alert;
}

.horizontal {
  display: table-cell;
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  @include clearfix;

  @include media($mobile-breakpoint) {
    float: none;
  }

  li {
    display: inline-block;
    margin-left: 0;
    margin-right: 0.35em;
    vertical-align: bottom;

    &:last-child {
      margin-right: 0;
    }
  }
}

.collapsed-menu-toggle, .main-menu-toggle {
  display: none;
}

.main-menu-toggle {
  @include media($mobile-breakpoint) {
    background-color: $nyplred;
    color: white !important;
    display: block;
    margin: 0 -1rem;
    padding-right: 1rem;
    text-align: right;
    text-decoration: none;

    .nypl-icon {
      @include nypl-icon(white, $nyplred);
    }
  }
}

.logo {
  position: absolute;
  width: $logo-width;

  @include media($mobile-breakpoint) {
    float: none;
    margin-right: 0.5rem;
    position: relative;
  }
}

.nypl-logo {
  background: url("../img/nypl.svg") no-repeat scroll 0px 0px/#{$logo-width} auto white;
  border: none;
  display: block;
  font-size: 0;
  height: $logo-height;
  margin-top: 0.4rem;
  margin-bottom: 0.1rem;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  width: $logo-width;

  @include media($mobile-breakpoint) {
    background: url("../img/lion.svg") no-repeat scroll 0px 0px/#{$logo-height - 0.5} auto white; // should be a smart hiding of the original svg
    margin-right: 0.5rem;
    width: $logo-height;
  }
}

header {
  .content-wrapper {
    max-width: calc(#{$max-width} - 2rem);
    padding: 0 1rem;

    @include media($mobile-breakpoint) {
      margin: 0;
    }
  }

  .content {
    position: relative;
    @include clearfix;

    @include media($mobile-breakpoint) {
      width: 100%;
    }
  }

  .service {
    background-color: $nyplred;

    @include media($mobile-breakpoint) {
      display: table-footer-group;
    }
  }

  @include media($mobile-breakpoint) {
    display: table;
    width: 100%;
  }

  &.collapsed {
     // using absolute px because each site might use different font-size
     border-bottom: 2px solid $nypllightgray;
     position: relative;

    .main-menu-toggle {
      display: none;
    }

    .collapsed-menu-toggle {
      bottom: 0;
      color: $pagetextcolor;
      display: block;
      font-size: 12px;
      font-weight: bold;
      position: absolute;
      right: 1rem;
      text-transform: uppercase;
    }

    .logo {
      height: $collapsed-nav-height;
      overflow: hidden;
    }

    .nypl-logo {
      background: url("../img/lion.svg") no-repeat scroll 0px 0px/#{$logo-height} auto white;
      background-position-y: -4px;
      margin: 0;
    }

    .service-buttons {
      min-height: $collapsed-service-height;

      li {
        display: none;
      }
    }

    .nav-buttons {
      font-size: 0;
      font-weight: bold;
      height: $collapsed-nav-height;
      margin-top: 0;
      text-transform: uppercase;

      li {
        box-shadow: none;
      }

      a {
        padding: 0.1em 0.4em 0.1em;
      }

      .search {
        display: none;
      }
    }
  }

  .service-buttons {
    font-size: 0.8rem;
    padding: 0;
    text-transform: uppercase;

    @include media($mobile-breakpoint) {
      display: none;
      padding-top: 5px;
      width: 100%;

      li {
        border-bottom: 1px solid white;
        float: left;
        line-height: 2;
        margin: 0 0 5px 0;
        width: 50%;
      }
    }

    a {
      text-decoration: underline;
    }

    li > a, button.collapsible {
      background-color: $nyplred;
      border: none;
      color: white;
      display: block;
      font-weight: bold;
      overflow: hidden;
      padding: 0 0.5em;
      padding-right: 1em;
      position: relative;
      text-decoration: none;
      text-overflow: ellipsis;
      text-transform: uppercase;
      transition: all $hover-time;
      white-space: nowrap;

      .nypl-icon {
        @include nypl-icon(white, $nyplred);
        transition: all $hover-time;
      }

      &:hover, &.active {
        background-color: white;
        color: $linkcolor;

        .nypl-icon {
          background-color: white;
          fill: $nyplred;
        }
      }

      &.active {
        .nypl-icon {
          transform: scaleY(-1);
        }
      }

      &.donate {
        background-color: white;
        color: $nyplred;
      }

      &.donate:hover {
        background-color: white;
      }

    }
  }

  .email-toggle {
    position: relative;

    a:after {
      transition: all $hover-time;
    }

    a.active:after {
      transform: scaleY(-1);
    }
  }

  .login-toggle { // should be renamed
    font-size: 0.8rem;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 1.5rem;

    button {
      text-transform: uppercase;
    }

    div {
      background-color: $nyplsearchcolor;
      color: white;
      font-size: 1rem;
      padding: 1rem;
      padding-bottom: 0;
      position: absolute;
      right: 0;
      text-transform: none;
      z-index: 1;
    }

    a.inverted {
      display: block;
      margin-bottom: 1em;
      white-space: nowrap;
    }

    .welcome-message {
      display: inline-block;
      margin-right: 1em;
      text-transform: none;
    }

    a:link {
      text-decoration: underline;
    }

    > a, button.collapsible {
      background-color: $nyplgray;
      color: white;
      display: inline-block;
      font-weight: bold;
      padding: 0 0.5em;
      transition: all $hover-time;

      .nypl-icon {
        @include nypl-icon(white, $nyplgray);
        transition: all $hover-time;
      }

      &:link {
        text-decoration: none;
      }

      &:hover {
        background-color: white;
        color: $nyplgray;

        .nypl-icon {
          background-color: white;
          fill: $nyplgray;
        }
      }

      &.active {
        .nypl-icon {
          transform: scaleY(-1);
        }
      }
    }

    @include media($mobile-breakpoint) {
      top: -2rem;

      .welcome-message {
        display: none;
      }
    }
  }

  &.collapsed .login-toggle {
    // absolute px because no control over page rem
    right: 110px;
    top: 9px;

    @include media($mobile-breakpoint) {
      font-size: 12px;
      top: -19px;

      div {
        right: -100%;
      }
    }
  }

  .email-toggle {
    form {
      background-color: $nyplsearchcolor;
      color: white;
      font-size: 1rem;
      min-width: 17rem;
      position: absolute;
      padding: 1rem;
      right: 0;
      text-transform: none;
      z-index: 1;

      @include media($mobile-breakpoint) {
        left: 0;
        right: auto;
      }
    }

    .email-toggle-title {
      font-size: 1.2rem;
      font-weight: bold;
      line-height: 1.5;
      margin: 0;
    }

    fieldset {
      border: none;
      color: $pagetextcolor;
      margin: 1em 0 0.5em;
      padding: 0;
      position: relative;
    }

    label {
      display: block;
      font-weight: bold;
      margin-left: 0.5em;
      position: absolute;
    }

    input[type=text] {
      @include textfield;
    }

    .links {
      margin: 1em 0 0;
    }
  }

  .nav-buttons {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-top: calc(#{$logo-height} + 1rem);
    @include clearfix;

    @include media($intermediate-breakpoint) {
      font-size: 0.9rem;
    }

    @include media($mobile-breakpoint) {
      display: none;
      font-size: 1.2rem;
      margin-top: 1rem;

      li {
        border-bottom: 1px solid $nypllightgray;
        float: left;
        height: auto;
        line-height: 2;
        margin: 0 0 5px 0;
        width: 50%;
      }

      li.search {
        border: none;
        font-size: 1rem;
        position: relative;
        right: initial;
        top: initial;
        width: 100%;
      }
    }

    a {
      border: none;
      color: $pagecolor;
      display: block;
      overflow: hidden;
      padding: 0.2em 0.4em 0.2em;
      text-decoration: none;
      text-overflow: ellipsis;
      transition: all $hover-time;
      white-space: nowrap;

      &:hover {
        color: $linkcolor;
      }

    }

    li {
      box-shadow: inset 0 0 0 $linkcolor;
      transition: box-shadow 0.2s;
    }

    li:hover, li.active {
      box-shadow: inset 0 -4px 0 $linkcolor;
    }

  }


  li.search {
    @include media($intermediate-breakpoint) {
      // float: none;
      // position: absolute;
      // right: 0;
      // top: -3rem;
    }

    #main-search {
      background-color: $nyplsearchcolor;
      margin: 0;
      position: relative;

      .search-button {
        @include simple-button;
      }

      &.display {
        display: block;
      }

      .search-query-content {
        position: relative;
      }

      .search-select {
        background-color: $nyplsearchcolor;
        font-size: 0.9rem;
        right: 0;
        padding: 1px 3px 3px 3px;
        position: absolute;
        top: 2rem;
        white-space: nowrap;
      }

      .search-radio-label {
        @include simple-radiobutton;
        display: inline-block;
        height: 2rem;
        line-height: 2;
        padding: 0 0.75rem 0 0.5rem;

        &.selected {
          background-color: $nyplsearchcolorlight;
        }

        &.focus {
          box-shadow: inset 0 0 0 3px $focuscolor;
        }

        input:focus {
          outline: none;
        }

      }

      .search-query-label {
        color: white;
        height: 2rem;
        left: 0.5rem;
        line-height: 2;
        position: absolute;
      }

      .form-text {
        @include input;
        box-shadow: inset 0 0 0 2px $nyplsearchcolordark;
        height: 2rem;
        margin-right: 1px;
        padding: 0;
        text-indent: 0.5rem;
        transition: all $hover-time ease-out;
        width: 10rem;

        &.active {
          width: 16rem;
        }

        &:focus {
          background-color: white;
          box-shadow: inset 0 0 0 4px $focuscolor !important;
          color: $nyplsearchcolordark;
          outline: none;
        }
      }

      @include media($mobile-breakpoint) {
        .form-text, .search-button, .search-radio-label {
          height: 2.5rem;
          line-height: 2.5;
        }

        .form-text, .form-text.active {
          margin: 0;
          width: 70%;
        }

        .search-button {
          margin: 0;
          width: 30%;
        }

        .search-select {
          top: 2.5rem;
        }
      }

    }

  }
}