.nypl-results-summary {
  // TODO: Put this into the results summary mixin so we're not
  //       duplicating class declartions.
  padding-bottom: 1rem;
}

.nypl-holds-summary {
  // TODO: Put this into the results summary mixin so we're not depending
  //       on another class to make a simple border.
  border-bottom: 0.25rem solid $page-color;
}

@mixin holds-table {
  @include basic-table;

  margin-bottom: 2rem;

  .nypl-current {
    // background-color: $nypl-yellow-tint;
  }

  // make sure we use the right cursors
  // TODO: investigate a more elegant way to accomplish this:
  thead tr th {
    &[class^=sorting] { // using this attr. selector lets us get
                        // get at DataTable's injected classes sorting,sort
      cursor: pointer;
    }

    &[class=sorting_disabled] {
      cursor: default;
    }
  }

  td {
    padding-top: 0.75rem;

    .item {
      font-weight: 700;
    }

    @include item-definition-list($dt-width: 30%, $dd-width: 70%);

    dl { // style first item in the Holds table context
      dt.item-title {
        font-weight: 700;
        width: 100%;
      }
    }
  }

  td span {
    border-left-color: $page-background-color;
    border-left-style: solid;
    border-left-width: $general-border-width * 2.5;
    display: block;
    padding: 1rem 0 1rem 0.5rem;

    &.available {
      border-left-color: $nypl-green;
      color: $nypl-green;
    }

    &.in-transit {
      border-left-color: $nypl-yellow;
    }

    &.ill {
      // &::before {
      //   content: "ill?";
      // }
    }

    &.recap {
      background-color: lighten($nypl-light-blue, 15%);
    }
  }

  @include media($mobile-breakpoint) {
    thead {
      border: 0;
    }

    thead tr {
      @include screenreader-only;
    }

    tr {
      border-top: $general-border-width * 2.5 solid $nypl-dark-gray;

      &:nth-of-type(1) {
        border: 0;
      }
    }

    td {
      border: 0;
      display: block;
      position: relative;
      width: 100%;

      &::before {
        display: block;
        float: left;
        font-weight: bold;
        //margin-bottom: 2rem;
        padding-left: $general-border-width * 6;
        width: 100%;
      }

      .item {
        font-size: 1.2rem;
        padding: 1rem 0;
      }

      &:nth-of-type(1)::before {
        content: "Item";
        display: none;
      }

      &:nth-of-type(2)::before {
        content: "Status";
        margin-bottom: 0;
      }

      &:nth-of-type(3)::before {
        content: "Location";
      }

      &:nth-of-type(4)::before {
        content: "Options";
      }

      // &:nth-of-type(5)::before {
      //   content: "Friday";
      // }
      //
      // &:nth-of-type(6)::before {
      //   content: "Saturday";
      // }
      //
      // &:nth-of-type(7)::before {
      //   content: "Sunday";
      // }
    }
  }
}
