@mixin nypl-icon($fill: $page-text-color, $background-color: $nypl-white, $inverted-color: $inverted-link-color, $width: 1em, $height: 1em, $border-radius: 0) {
  background-color: $background-color;
  border-radius: $border-radius;
  display: inline-block;
  fill: $fill;
  height: $height;
  width: $width;
  speak: none;

  &.reversed {
    background-color: inherit;
    fill: $inverted-color;
  }
}