@mixin nypl-icon(
  $background-color: $nypl-white,
  $border-radius: 0,
  $fill: $page-text-color,
  $height: 1em,
  $inverted-color: $inverted-link-color,
  $width: 1em) {
  background-color: $background-color;
  border-radius: $border-radius;
  display: inline-block;
  fill: $fill;
  height: $height;
  width: $width;
  speak: none;

  &.reversed {
    background-color: inherit;
    fill: $inverted-color;
  }
}
