// font base values
$basefontraw: 16;
$basefont: $basefontraw * 1px;

$small-type: ($basefont * 0.9);

// page measures
$max-width-raw: 1312;
$max-width: ($max-width-raw / $basefontraw) * 1rem; // in rems

// breakpoints
$intermediate-breakpoint: 1120px;
$mobile-breakpoint: 965px;

// borders
$focus-width: (2 / $basefontraw) * 1rem;
$related-links-border-width: 0.25rem;
$simple-border: (1 / $basefontraw) * 1rem;

// grid measures
$full-width: 100%;
$one-quarter: $full-width / 4;
$one-third: $full-width / 3;
$half: $full-width / 2;
$two-thirds: ($full-width) - ($one-third);
$three-quarters: ($full-width) - ($one-quarter);
$gutter: 0.5rem;
$general-padding: 1rem;
$general-margin: $general-padding;
$general-border-radius: 0.2rem;
$general-border-width: ($simple-border * 2);

// animation timing
$hover-time: 0.1s;

// header numbers
$logo-ratio: 169 / 300;
$logo-width-raw: 5;
$logo-width: $logo-width-raw * 1rem;
$logo-height-raw: $logo-width-raw * $logo-ratio;
$logo-height: $logo-height-raw * 1rem;
$collapsed-service-height: 10px;
$collapsed-nav-height: 30px;
