//
// NYPL Search Results Filter Modal
// TODO: Too much quick and dirty in here... needs clean up / refactoring

@mixin popup {

  &.inactive {
    display: none;
  }

  &.active {
    display: block;

    .nypl-popup-filter-menu {

      background: $nypl-white;
      left: 0;
      // position: fixed;
      top: 0;
      width: 100%;
      z-index: 2101;

      .nypl-parent-fieldset {
        border: 0;
        margin: 0;
        padding-left: 0;
        padding-right: 0;

        > legend:first-child {
          display: block;
          margin-left: ($general-margin * 3.125);

            @include media($mobile-breakpoint) {
              margin-left: $general-margin;
            }

          h3 {
            margin-bottom: 0;

            &:focus {
              outline-color: $focus-color;
              outline-style: solid;
              outline-width: $focus-width;
          }
        }
      }

        .nypl-inner-fieldset:nth-child(4) {
          border: 0;
        }
      }

      .nypl-inner-fieldset-date {
        padding-bottom: $general-padding;
      }

      .nypl-inner-fieldset {
        border: 0;
        border-bottom: ($general-border-width * 0.25) solid lighten($nypl-gray-cool, 15%);
        padding: 0 $general-padding 0 ($general-padding * 3.125);

        legend {
          font-size: 1.125rem;
          margin-top: 0.75rem;
        }
      }

      .nypl-name-field {
        margin: 0;
      }

      .nypl-name-field div {
        float: left;
        margin-right: ($general-padding * 1.125);
        width: 25%;
      }

      .nypl-filter-button {
        @include basic-button(
        $background-color: $nypl-red,
        $border-color: $nypl-red,
        $text-color: $nypl-white
        );
      }

      .nypl-x-close-button {
        float: right;
        position: relative;
        margin-right: $general-margin;
        top: -45rem;

        // left: 5rem;
      }
    }

    .nypl-popup-filter-overlay {
      background: transparentize($nypl-white, 0.05);
      bottom: 0;
      left: 0;
      //position: fixed;
      right: 0;
      top: 0;
      z-index: 2100;
    }
  } // /.active

  // .nypl-popup-menu {
  //
  //   &.active {
  //     display: block;
  //     z-index: 1000;
  //   }
  //
  //   &.inactive {
  //     display: none;
  //   }
  // }
}
