//
// NYPL Modals
//

@mixin popup {

  &.inactive {
    display: none;
  }

  &.active {
    display: block;

    .nypl-popup-filter-menu {
      background: $nypl-white;
      left: 50%;
      position: fixed;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 101;
    }

    .nypl-popup-filter-overlay {
      background: transparentize($nypl-white, 0.15);
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 100;
    }
  } // /.active

  // .nypl-popup-menu {
  //
  //   &.active {
  //     display: block;
  //     z-index: 1000;
  //   }
  //
  //   &.inactive {
  //     display: none;
  //   }
  // }
}
