@import "normalize";
@import "css3";
@import "measurements";
@import "colors";
@import "typography";
@import "icons";
@import "forms";
@import "buttons";

//@warn "remove magic numbers and convert to mixins?";

body {
  color: $page-text-color;

}

::selection {
  background: $page-text-color;
  color: $page-background-color;
}

::-moz-selection {
  background: $page-text-color;
  color: $page-background-color;
}

html {
  @include font-settings;
  background-color: $page-background-color;

  //@warn "hard-coded filter to make page grayscale. make mixin?";
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-filter: none;
  filter: none;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  max-width: 35rem;
  word-wrap: break-word;
}

h1 {
  font-size: 2.5rem;
  line-height: 1;
}

h2 {
  font-size: 1.6rem;
  line-height: 1.1;
}

h3 {
  font-size: 1.4rem;
  font-weight: 400;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

ul,
ol {
  margin-top: 0;
  padding: 0;
}

li {
  margin-left: 0.5rem;
}

code,
pre {
  background-color: $nypl-light-gray;
  font-family: $monospace-stack;
  font-size: 0.9rem;
}

code {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

strong {
  font-weight: bold;
}

legend {
  display: table;
}

a {
  text-decoration: underline;

  &:link {
    color: $link-color;
  }

  &:visited {
    color: $link-visited-color;
  }

  &:hover,
  &:visited:hover {
    color: $link-hover-color;
    text-decoration: none;
  }

  &.inverted {
    &:link {
      color: $inverted-link-color;
    }

    &:visited {
      color: $inverted-link-visited-color;
    }

    &:hover,
    &:visited:hover {
      color: $inverted-link-color;
    }
  }
}
