@import "general-mixins";
@import "media-queries";
$form-padding: 0.5rem;
////////////////
//// @mga Omni /
////////////////

@mixin omnisearch-style($version) {
  @if $version == style-1 {
    @content; // put the @mga version here...
  } @else if $version == style-2 {
    @content; // put the @reg version here...
  }
}

// Omnisearch itself now is its own mixin without the accompanying styles. We add those in via the @content directive above and
@mixin omnisearch (
  $background-color: $nypl-search-color,
  $border: 0,
  $border-radius: ($general-border-radius * 2),
  $padding: $form-padding) {
  background-color: $background-color;
  border: $border;
  border-radius: $border-radius;
  padding: $padding;
  //@content;
  }

// This verison is from the original develeped by @mga
@include omnisearch-style(style-1) {

  .nypl-omnisearch {
    @include omnisearch;

    // @content stuff below...
    button,
    .nypl-omni-fields,
    input {
      display: block;
      float: left;
      height: 2rem;
    }

    .nypl-omni-fields {
      width: 20%;

      label {
        @include screenreader-only;
      }

      select {
        @include select;
      }
    }

    input[type=text],
    input[type=email],
    input[type=number] {
      @include input;
      border-radius: $general-border-radius;
      margin: 0 1%;
      text-indent: $form-padding;
      width: 58%;
    }

    button,
    input[type=button],
    input[type=submit] {
      @include basic-button($height: 2rem);
      line-height: 0;
      width: 20%;
    }

    @include media($mobile-breakpoint) {
      .nypl-omni-fields {
        width: 30%;

        select {
          padding-left: 0.125rem;
          padding-right: 20%;
        }
      }

      input[type=text],
      input[type=email],
      input[type=number] {
        width: 48%;
      }

      button,
      input[type=button],
      input[type=submit] {
        padding: 0;
      }
    } // /$mobile-breakpoint @media include
  }
}
///////////////////
// @ricardoom Omni
///////////////////
@include omnisearch-style(style-2) {
  .nypl-omnisearch.style-2 {
    @include omnisearch(
      $background-color: $nypl-white,
      $border: solid 0.0625rem $nypl-dark-gray,
      $border-radius: $general-border-radius,
      $padding: 0);
    font-weight: 200;

    @include media($mobile-breakpoint) {
      width: 97%;
    }

    legend {
      display: none;
      height: 0;
      width: 0;
    }

    .nypl-omni-fields {
      border-right: $general-border-width / 1.5 solid $nypl-dark-gray;
      padding-right: 1rem;
      margin-left: 1rem;
      position: relative;
      top: 0.475rem;
      width: 17%;

      @include media($mobile-breakpoint) {
        font-size: 0.9rem;
        margin-left: 0.25rem;
        padding-right: 0.25rem;
        width: 28%;
      }

      select {
        border-radius: 0;
        border: 0;
        border-right: $general-border-width / 1.5;
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3LjY5OTA1IiBoZWlnaHQ9IjMuOTg3MTMiIHZpZXdCb3g9IjAgMCA3LjY5OTA1IDMuOTg3MTMiPgogIDx0aXRsZT5kb3duLjIud2VkZ2U8L3RpdGxlPgogIDxwb2x5bGluZSBwb2ludHM9IjcuMzk1IDAuMzYgMy44NSAzLjM3IDAuMzA0IDAuMzU4IiBmaWxsPSIjZmZmIiBzdHJva2U9IiMyMzFmMjAiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIwLjk0MDUiLz4KPC9zdmc+) no-repeat 95% $nypl-white;
    }
  }

    input[type=text] {
      background: $nypl-white;
      position: relative;
      width: 58%;
      top: 0.475rem;

      @include media($mobile-breakpoint) {
        width: 45%;
      }
    }

    input[type=submit] {
      background: $nypl-red;
      border: 0;
      border-radius: 0.0625rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      float: right;
      height: 3rem;
      position: relative;
      width: 15%;

      @include media($mobile-breakpoint) {
        width: 20%;
      }

      &:hover {
        background-color: $nypl-white;
        border: solid 0.0625rem $nypl-red;
        color: $nypl-red;
      }
    }

    svg {
      display: inline-block;
      fill: $nypl-dark-gray;
      height: 1.3125rem;
      margin-left: 93.5%;
      position: relative;
      top: -1.9rem;
      width: 0.9375rem;
    }
  }
  // needs a better name, this widget is the remains of the breadcrumbs & save record button below the search field...
  .search-control {
    color: $nypl-dark-gray;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.04rem;
    margin-top: 1.75rem;
    padding-left: 0.75rem;
    text-transform: uppercase;

    @include media($mobile-breakpoint) {
      margin-top: 0.5rem;
    }

    ///// Back to results link
    ////// svg back arrow
    svg {
      fill: $nypl-gray-cool;
      height: 2rem;
      position: relative;
      width: 0.5625rem;
      top: 0.7rem;
    }

    a {
      color: $nypl-dark-gray;
      margin-left: 0.5rem;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
} // /omnisearch-style(style-2)
