@import "general-mixins";
@import "media-queries";
$form-padding: 0.5rem;
////////////////
//// @mga Omni /
////////////////

@mixin omnisearch-style($version) {
  @if $version == style-1 {
    @content; // put the @mga version here...
  } @else if $version == style-2 {
    @content; // put the @reg version here...
  }
}

// Omnisearch itself now is its own mixin without the accompanying styles. We add those in via the @content directive above and
@mixin omnisearch (
  $background-color: $nypl-search-color,
  $border: 0,
  $border-radius: ($general-border-radius * 2),
  $padding: $form-padding) {
  background-color: $background-color;
  border: $border;
  border-radius: $border-radius;
  padding: $padding;
  //@content;
  }

// This verison is from the original develeped by @mga
@include omnisearch-style(style-1) {

  .nypl-omnisearch {
    @include omnisearch;

    // @content stuff below...
    button,
    .nypl-omni-fields,
    input {
      display: block;
      float: left;
      height: 2rem;
    }

    .nypl-omni-fields {
      width: 20%;

      label {
        @include screenreader-only;
      }

      select {
        @include select;
      }
    }

    input[type=text],
    input[type=email],
    input[type=number] {
      @include input;
      border-radius: $general-border-radius;
      margin: 0 1%;
      text-indent: $form-padding;
      width: 58%;
    }

    button,
    input[type=button],
    input[type=submit] {
      @include basic-button($height: 2rem);
      line-height: 0;
      width: 20%;
    }

    @include media($mobile-breakpoint) {
      .nypl-omni-fields {
        width: 30%;

        select {
          padding-left: 0.125rem;
          padding-right: 20%;
        }
      }

      input[type=text],
      input[type=email],
      input[type=number] {
        width: 48%;
      }

      button,
      input[type=button],
      input[type=submit] {
        padding: 0;
      }
    } // /$mobile-breakpoint @media include
  }
}
///////////////////
// @ricardoom Omni
///////////////////
@include omnisearch-style(style-2) {
  .nypl-omnisearch.style-2 {
    @include omnisearch(
  $background-color: $nypl-white,
  $border: solid 0.0625rem $nypl-dark-gray,
  $border-radius: $general-border-radius,
  $padding: 0);
    font-weight: 200;


    legend {
      display: none;
      height: 0;
      width: 0;
    }
  }
} // /omnisearch-style(style-2)
