@import "general-mixins";
@import "measurements";
@import "colors";

.hljs-selector-class {
  color: $highlight-color; // overriding highlightjs which has low contrast in css class highlighting
}

#skip a {
  background-color: $nypl-white;
  border: 0;
  color: $link-color;
  display: block;
  font-size: 13px;
  height: 1px;
  left: -10000px;
  line-height: 2;
  overflow: hidden;
  padding: 5px 10px 3px;
  position: absolute;
  top: 7px;
  width: 1px;
  z-index: 1000;

  &:focus {
    border: 5px solid $link-color;
    height: auto;
    left: 7px;
    outline: 0;
    overflow: visible;
    width: auto;
  }
}

.hidden {
  display: none;
}

.centered {
  text-align: center;
}

$blue: #00f;
$gray: #ccc;

code {
  border-radius: $general-border-radius;
  padding: 0;

  &::before,
  &::after {
    letter-spacing: -0.2em;
    content: "\00a0";
  }
}

pre {
  border: $simple-border solid $nypl-light-gray;
}

h1 {
  margin-top: 0;
}

.toolkit-svg-icon {
  border: 1px dotted $nypl-light-gray;
  margin-right: 1rem;
}

.clickable-header {
  cursor: pointer;
}

.clickable-header:hover {
  text-decoration: underline;
}

.top-level-header {
  display: inline-block;
}

.back-to-top {
  cursor: pointer;
  font-style: normal;
  margin-left: 0.5rem;

  &:hover {
    text-decoration: underline;
  }
}
// Style the Color swatches in color.html

// Create the color swatch classes used in sections/color.html
@mixin swatch-box ($color-name: $nypl-light-gray) {
  background-color: $color-name;
  @content;
  }

$colors: (
 nypl-red: $nypl-red,
 nypl-red-dark: $nypl-red-dark,
 nypl-red-tint: $nypl-red-tint,
 nypl-blue: $nypl-blue,
 nypl-blue-dark: $nypl-blue-dark,
 nypl-light-blue: $nypl-light-blue,
 nypl-blue-tint: $nypl-blue-tint,
 nypl-gray-cool: $nypl-gray-cool,
 nypl-gray: $nypl-gray,
 nypl-gray-brown: $nypl-gray-brown,
 nypl-dark-gray: $nypl-dark-gray,
 nypl-light-gray: $nypl-light-gray,
 nypl-white: $nypl-white,
 nypl-black: $nypl-black,
 nypl-yellow: $nypl-yellow,
 nypl-yellow-tint: $nypl-yellow-tint,
 nypl-orange: $nypl-orange,
 nypl-orange-desaturated: $nypl-orange-desaturated,
 nypl-green: $nypl-green,
 nypl-green-dark: $nypl-green-dark,
 nypl-green-tint: $nypl-green-tint,
 nypl-purple: $nypl-purple,
 nypl-purple-dark: $nypl-purple-dark,
 nypl-purple-tint: $nypl-purple-tint,
 nypl-teal: $nypl-teal,
 nypl-teal-dark: $nypl-teal-dark,
 nypl-teal-tint: $nypl-teal-tint
);

@each $nypl-colors, $color-name in $colors {
  .#{$nypl-colors}-swatch {
    @include swatch-box ($color-name);
 }
}


.swatches {
  box-sizing: border-box;

  .reverse {
    color: $nypl-black;
  }
}

.color-box {
  list-style: none;
  padding: 0.25rem;
  margin-left: 0;

  > .main {
    height: 8rem;
    padding-top: 3rem;
  }

  > div {
    color: $nypl-white;
    font-size: 90%;
    font-style: italic;
    height: 4rem;
    margin: 0;
    padding-top: 1rem;
    text-align: center;
  }
}
