@import "measurements";
@import "colors";
@import "typography";
@import "icons";
@import "forms";
@import "grid";
@import "header";
@import "tables-results";
@import "footer";

code {
  padding: 0;
}

pre {
  border: $simple-border solid $nypl-light-gray;

}

.toolkit-example {
  @include toolkit-example;
}

.my-text-field {
  @include text-fieldset;
}

.my-select-box {
  @include select-fieldset;
}

.toolkit-example-dark {
  @extend .toolkit-example;
  @include toolkit-example-dark;
}

.toolkit-svg-icon {
  border: 1px dotted $nypl-light-gray;
  margin-right: 1rem;
}

.nypl-icon {
  @include nypl-icon;
  width: 10em;
}