@import "measurements";
@import "colors";
@import "typography";
@import "icons";
@import "general-mixins";
@import "forms";
@import "grid";
@import "header";
@import "tables-results";
@import "footer";

$blue: #00f;
$gray: #ccc;

code {
  padding: 0;

  &:before,
  &:after {
    letter-spacing: -0.2em;
    content: "\00a0";
  }
}

pre {
  border: $simple-border solid $nypl-light-gray;
}

h1 {
  margin-top: 0;
}

.toolkit-svg-icon {
  border: 1px dotted $nypl-light-gray;
  margin-right: 1rem;
}

.clickable-header {
  cursor: pointer;
}

.clickable-header:hover {
  text-decoration: underline;
}

.top-level-header {
  display: inline;
}

.back-to-top {
  cursor: pointer;
  font-style: normal;
  margin-left: 0.5rem;

  &:hover {
    text-decoration: underline;
  }
}
