@import "measurements";
@import "colors";
@import "typography";
@import "icons";
@import "general-mixins";
@import "forms";
@import "grid";
@import "header";
@import "tables-results";
@import "footer";

$blue: #00f;
$gray: #ccc;

code {
  padding: 0;

  &:before,
  &:after {
    letter-spacing: -0.2em;
    content: "\00a0";
  }
}

pre {
  border: $simple-border solid $nypl-light-gray;
}

h1 {
  margin-top: 0;
}

.toolkit-svg-icon {
  border: 1px dotted $nypl-light-gray;
  margin-right: 1rem;
}

.clickable-header {
  cursor: pointer;
}

.clickable-header:hover {
  text-decoration: underline;
}

.top-level-header {
  display: inline;
}

.back-to-top {
  cursor: pointer;
  font-style: normal;
  margin-left: 0.5rem;

  &:hover {
    text-decoration: underline;
  }
}
// Color Swatches
.swatches {
  box-sizing: border-box;

  > :nth-child(1) {
    width: 18.5rem;
  }

  &.reverse div {
    color: $nypl-black;
  }
}

.color-box {
  list-style: none;
  padding: 0.25rem;
  margin-left: 0;
  width: 25%;

  > .main {
    height: 8rem;
    padding-top: 3rem;
  }

  > div {
    color: $nypl-white;
    font-size: 90%;
    font-style: italic;
    height: 4rem;
    margin: 0;
    padding-top: 1rem;
    text-align: center;
  }
}

@mixin swatch-box ($color-name: $nypl-light-gray) {
  background: $color-name;
  @content;
}

$colors: (
  nypl-red: $nypl-red,
  nypl-red-dark: $nypl-red-dark,
  nypl-red-tint: $nypl-red-tint,
  nypl-blue: $nypl-blue,
  nypl-blue-dark: $nypl-blue-dark,
  nypl-blue-tint: $nypl-blue-tint,
  nypl-gray-cool: $nypl-gray-cool,
  nypl-gray: $nypl-gray,
  nypl-gray-brown: $nypl-gray-brown,
  nypl-dark-gray: $nypl-dark-gray,
  nypl-light-gray: $nypl-light-gray,
  nypl-white: $nypl-white,
  nypl-black: $nypl-black,
  nypl-yellow: $nypl-yellow,
  nypl-yellow-tint: $nypl-yellow-tint,
  nypl-orange: $nypl-orange,
  nypl-orange-destaurated: $nypl-orange-destaurated,
  nypl-green: $nypl-green,
  nypl-green-dark: $nypl-green-dark,
  nypl-green-tint: $nypl-green-tint,
);

@each $nypl-colors, $color-name in $colors {
  .#{$nypl-colors}-swatch {
    @include swatch-box ($color-name);
  }
}
