@import "measurements";
@import "colors";

.hljs-selector-class {
  color: $highlight-color; // overriding highlightjs which has low contrast in css class highlighting
}

#skip a {
  background-color: $nypl-white;
  border: 0;
  color: $link-color;
  display: block;
  font-size: 13px;
  height: 1px;
  left: -10000px;
  line-height: 2;
  overflow: hidden;
  padding: 5px 10px 3px;
  position: absolute;
  top: 7px;
  width: 1px;
  z-index: 1000;

  &:focus {
    border: 5px solid $link-color;
    height: auto;
    left: 7px;
    outline: 0;
    overflow: visible;
    width: auto;
  }
}

.hidden {
  display: none;
}

.centered {
  text-align: center;
}

$blue: #00f;
$gray: #ccc;

code {
  border-radius: $general-border-radius;
  padding: 0;

  &::before,
  &::after {
    letter-spacing: -0.2em;
    content: "\00a0";
  }
}

pre {
  border: $simple-border solid $nypl-light-gray;
}

h1 {
  margin-top: 0;
}

.toolkit-svg-icon {
  border: 1px dotted $nypl-light-gray;
  margin-right: 1rem;
}

.clickable-header {
  cursor: pointer;
}

.clickable-header:hover {
  text-decoration: underline;
}

.top-level-header {
  display: inline-block;
}

.back-to-top {
  cursor: pointer;
  font-style: normal;
  margin-left: 0.5rem;

  &:hover {
    text-decoration: underline;
  }
}
// Style the Color swatche in color.html
.swatches {
  box-sizing: border-box;

  &.reverse div {
    color: $nypl-black;
  }
}

.color-box {
  list-style: none;
  padding: 0.25rem;
  margin-left: 0;

  > .main {
    height: 8rem;
    padding-top: 3rem;
  }

  > div {
    color: $nypl-white;
    font-size: 90%;
    font-style: italic;
    height: 4rem;
    margin: 0;
    padding-top: 1rem;
    text-align: center;
  }
}
