@import "nypl-normalize";
@import "toolkit";
@import "header";
@import "footer";

.nypl-header {
  @include header;
}

.nypl-footer {
  @include footer;
}

#skip a {
  background-color: $nypl-white;
  border: 0;
  color: $link-color;
  display: block;
  font-size: 13px;
  height: 1px;
  left: -10000px;
  line-height: 2;
  overflow: hidden;
  padding: 5px 10px 3px;
  position: absolute;
  top: 7px;
  width: 1px;
  z-index: 1000;

  &:focus {
    border: 5px solid $link-color;
    height: auto;
    left: 7px;
    outline: 0;
    overflow: visible;
    width: auto;
  }
}

.nypl-page-header {
  @include page-header-2(
  $background-color: lighten($nypl-light-gray, 15%),
  $font-weight: 100,
  $type-color: $nypl-red);
  border-bottom: $general-border-width / 1.5 solid darken($nypl-light-gray, 15%);
  margin-bottom: 0;
}

//// Omni Search Pattern 2
//// see gDocs

//
// .nypl-omnisearch {
//   @include omnisearch(
//   $background-color: $nypl-white,
//   $border: solid 0.0625rem $nypl-dark-gray,
//   $border-radius: $general-border-radius,
//   $padding: 0);
//   font-weight: 200;
//
//   @include media($mobile-breakpoint) {
//     width: 97%;
//   }
//
//   legend {
//     display: none;
//     height: 0;
//     width: 0;
//   }
//
//   .nypl-omni-fields {
//     border-right: $general-border-width / 1.5 solid $nypl-dark-gray;
//     padding-right: 1rem;
//     margin-left: 1rem;
//     position: relative;
//     top: 0.475rem;
//     width: 17%;
//
//     @include media($mobile-breakpoint) {
//       font-size: 0.9rem;
//       margin-left: 0.25rem;
//       padding-right: 0.25rem;
//       width: 28%;
//     }
//
//     select {
//       border-radius: 0;
//       border: 0;
//       border-right: $general-border-width / 1.5;
//       background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3LjY5OTA1IiBoZWlnaHQ9IjMuOTg3MTMiIHZpZXdCb3g9IjAgMCA3LjY5OTA1IDMuOTg3MTMiPgogIDx0aXRsZT5kb3duLjIud2VkZ2U8L3RpdGxlPgogIDxwb2x5bGluZSBwb2ludHM9IjcuMzk1IDAuMzYgMy44NSAzLjM3IDAuMzA0IDAuMzU4IiBmaWxsPSIjZmZmIiBzdHJva2U9IiMyMzFmMjAiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLXdpZHRoPSIwLjk0MDUiLz4KPC9zdmc+) no-repeat 95% $nypl-white;
//   }
// }
//
//   input[type=text] {
//     background: $nypl-white;
//     position: relative;
//     width: 62.1%;
//     top: 0.475rem;
//
//     @include media($mobile-breakpoint) {
//       width: 45%;
//     }
//   }
//
//   input[type=submit] {
//     background: $nypl-red;
//     border: 0;
//     border-radius: 0.0625rem;
//     border-top-left-radius: 0;
//     border-bottom-left-radius: 0;
//     float: right;
//     height: 3rem;
//     position: relative;
//     width: 15%;
//
//     @include media($mobile-breakpoint) {
//       width: 20%;
//     }
//
//     &:hover {
//       background-color: $nypl-white;
//       border: solid 0.0625rem $nypl-red;
//       color: $nypl-red;
//     }
//   }
//
//   svg {
//     display: inline-block;
//     fill: $nypl-dark-gray;
//     height: 1.3125rem;
//     margin-left: 93.5%;
//     position: relative;
//     top: -1.9rem;
//     width: 0.9375rem;
//   }
// }
// // needs a better name, this widget is the remains of the breadcrumbs & save record button below the search field...
// .search-control {
//   color: $nypl-dark-gray;
//   font-size: 0.8rem;
//   font-weight: 700;
//   letter-spacing: 0.04rem;
//   margin-top: 1.75rem;
//   padding-left: 0.75rem;
//   text-transform: uppercase;
//
//   @include media($mobile-breakpoint) {
//     margin-top: 0.5rem;
//   }
//
//   ///// Back to results link
//   ////// svg back arrow
//   svg {
//     fill: $nypl-gray-cool;
//     height: 2rem;
//     position: relative;
//     width: 0.5625rem;
//     top: 0.7rem;
//   }
//
//   a {
//     color: $nypl-dark-gray;
//     margin-left: 0.5rem;
//     text-decoration: none;
//   }
//
//   a:hover {
//     text-decoration: underline;
//   }
  ////// Save Record button
  ////// Deprecated & removed from design
  // TODO: get rid of this rule set
  // .save-record-button {
  //   @include basic-button ($text-color: $nypl-dark-gray, $background-color: $nypl-white, $border-width: $general-border-width / 1.5);
  //   float: right;
  //   margin-top: 0.75rem;
  //   margin-right: 0.65rem;
  //   text-transform: uppercase;
  // }
//}
// /omni

////// Title
// item info / the full item record
.nypl-item-details {

  h1 {
    margin-bottom: 3rem;
    line-height: 1.5625;
  }

  .nypl-item-info {
    @include item-info ($border-width: 0);
    padding-left: 0;
  }

  dl {
    border-left: 0;
    font-size: 0.8rem;
    padding-left: 0;

    dt {
      color: $nypl-dark-gray;
      font-weight: 700;
      letter-spacing: 0.04rem;
      margin: 0 0.5rem 1rem 0;
      text-transform: uppercase;
      width: 20%;

      @include media($mobile-breakpoint) {
        float: none;
        margin-bottom: 0.75rem;
        width: 100%;
      }
    }

    dd {
      font-size: 0.95rem;
      margin-bottom: 1rem;
      width: 70%;

      @include media($mobile-breakpoint) {
        margin-bottom: 1.25rem;
        width: 100%;
      }
    }
  }

}
// Right rail / column hold button &
.place-hold-control {
  border: solid $nypl-gray $general-border-width / 1.5;
  padding: 1rem;

  h3 {
    font-weight: 400;
    margin: 0 0 1rem;
  }

  p {
    margin: 0;

    @include media($mobile-breakpoint) {
      display: inline-block;
    }
  }

  button {
    @include basic-button(
      $text-color: $nypl-white,
      $background-color: $nypl-green-bright,
      $border-color: $nypl-green-bright,
      $border-radius: $general-border-radius / 1.5,
      $border-width: $general-border-width / 1.5,
      $font-size: 0.8rem,
      $letter-spacing: 0.06rem,
      $text-transform: uppercase);
    margin-top: 1.5rem;
    width: 100%;

    @include media($mobile-breakpoint) {
      display: inline-block;
    }

    &:hover {
      border-color: $nypl-green-bright;
      color: $nypl-green-bright;
    }
  }

// this the table version for multiple items
// This style block styles the table set in the <aside>
  &.inline {
    border: 0;
    margin-bottom: 1rem;
    padding-left: 0;

    .nypl-basic-table {

      thead {
        border-bottom: $general-border-width / 1.5 solid $nypl-gray-cool;

        th {
          border: 0;
          padding-bottom: 1rem;
          text-transform: uppercase;
          width: 25%;
        }

        @include media($mobile-breakpoint) {
          th:first-child,
          th:last-child {
            display: none;
          }
        }
      }

      td {
        border: 0;
        padding-top: 1rem;
      }

      tbody tr:last-child {
        border-bottom: 0;
      }

      @include media($mobile-breakpoint) {
        tbody td:first-child,
        tbody td:last-child {
          display: none;
      }
    }

      button {
        margin-top: 0;
        width: 85%;
      }
    }
  }
}

dl dt.list-mulit-control {
  width: 100%;

  h3 {
    font-weight: 400;
    margin: 0 0 1rem;
    width: 100%;
  }
}

// This style block styles the table set in the <dl>
// TODO: Combine this layout w/ the one above
dl dd.multi-item-list {
  width: 100%;

  .nypl-basic-table {

    thead {
      border-bottom: $general-border-width / 1.5 solid $nypl-gray-cool;
    } // /thead

    th {
      border: 0;
      padding-bottom: 1rem;
      text-transform: uppercase;
      width: 25%;
    }

    @include media($mobile-breakpoint) {
      th:first-child,
      th:last-child {
        display: none;
      }
    }

    td {
      border: 0;
      padding-top: 1rem;
    }

    tbody tr:last-child {
      border-bottom: 0;
    }

    @include media($mobile-breakpoint) {
      tbody td:first-child,
      tbody td:last-child {
        display: none;
    }
  }

    button {
      @include basic-button(
        $text-color: $nypl-white,
        $background-color: $nypl-green-bright,
        $border-color: $nypl-green-bright,
        $border-radius: $general-border-radius / 1.5,
        $border-width: $general-border-width / 1.5,
        $font-size: 0.8rem,
        $letter-spacing: 0.06rem,
        $text-transform: uppercase);
      margin-top: 0;
      width: 85%;

      @include media($mobile-breakpoint) {
        display: inline-block;
      }

      &:hover {
        border-color: $nypl-green-bright;
        color: $nypl-green-bright;
      }
    }
  }
}
