@import "nypl-normalize";
@import "toolkit";
@import "header";
@import "footer";

.nypl-header {
  @include header;
}

.nypl-footer {
  @include footer;
}

.views-table {
  @include views-table;
}

hr {
  border: 0;
  border-top: 0.05rem solid $nypl-gray;
  height: 2rem;

  &::after {
    content: "<!-- // start of new row // -->";
  }
}

#skip a {
  background-color: $nypl-white;
  border: 0;
  color: $link-color;
  display: block;
  font-size: 13px;
  height: 1px;
  left: -10000px;
  line-height: 2;
  overflow: hidden;
  padding: 5px 10px 3px;
  position: absolute;
  top: 7px;
  width: 1px;
  z-index: 1000;

  &:focus {
    border: 5px solid $link-color;
    height: auto;
    left: 7px;
    outline: 0;
    overflow: visible;
    width: auto;
  }
}

