@import "nypl-normalize";
@import "toolkit";
@import "header";
@import "footer";

.nypl-header {
  @include header;
}

.nypl-footer {
  @include footer;
}

#skip a {
  background-color: $nypl-white;
  border: 0;
  color: $link-color;
  display: block;
  font-size: 13px;
  height: 1px;
  left: -10000px;
  line-height: 2;
  overflow: hidden;
  padding: 5px 10px 3px;
  position: absolute;
  top: 7px;
  width: 1px;
  z-index: 1000;

  &:focus {
    border: 5px solid $link-color;
    height: auto;
    left: 7px;
    outline: 0;
    overflow: visible;
    width: auto;
  }
}

.nypl-page-header {
  @include page-header-2(
  $background-color: lighten($nypl-light-gray, 15%),
  $font-weight: 100,
  $type-color: $nypl-red);
  border-bottom: $general-border-width / 1.5 solid darken($nypl-light-gray, 15%);
  margin-bottom: 0;
}

////// Title
// item info / the full item record
.nypl-item-details {

  h1 {
    margin-bottom: 3rem;
    line-height: 1.5625;
  }

  .nypl-item-info {
    @include item-info ($border-width: 0);
    padding-left: 0;
  }

  dl {
    border-left: 0;
    font-size: 0.95rem;
    padding-left: 0;

    dt {
      color: $nypl-dark-gray;
      font-size: 0.85rem;
      font-weight: 700;
      letter-spacing: 0.04rem;
      margin: 0 0.5rem 1rem 0;
      text-transform: uppercase;
      width: 20%;

      @include media($mobile-breakpoint) {
        float: none;
        margin-bottom: 0.75rem;
        width: 100%;
      }
    }

    dd {
      //font-size: 0.95rem;
      margin-bottom: 1rem;
      width: 70%;

      @include media($mobile-breakpoint) {
        margin-bottom: 1.25rem;
        width: 100%;
      }

      &.subject-listing a {
        display: block;
      }
    }
  }

}
// Right rail / column hold button &
// TODO: remove the Right Rail pattern as its been deprecated.
.place-hold-control {
  border: solid $nypl-gray $general-border-width / 1.5;
  padding: 1rem;

  h3 {
    font-weight: 400;
    margin: 0 0 1rem;
  }

  p {
    margin: 0;

    @include media($mobile-breakpoint) {
      display: inline-block;
    }
  }

  button {
    @include basic-button(
      $text-color: $nypl-red,
      $background-color: $nypl-white,
      $border-color: $nypl-red,
      $border-radius: $general-border-radius / 1.5,
      $border-width: $general-border-width / 1.5,
      $font-size: 0.8rem,
      $letter-spacing: 0.06rem,
      $text-transform: uppercase);
    margin-top: 1.5rem;
    width: 100%;

    @include media($mobile-breakpoint) {
      display: inline-block;
    }

    &:hover {
      background-color: $nypl-red;
      border-color: $nypl-red;
      color: $nypl-white;
    }
  }

// this the table version for multiple items
// This style block styles the table set in the <aside>
  &.inline {
    border: 0;
    margin-bottom: 1rem;
    padding-left: 0;

    .nypl-basic-table {

      thead {
        border-bottom: $general-border-width / 1.5 solid $nypl-gray-cool;

        th {
          border: 0;
          font-size: 0.85rem;
          padding-bottom: 1rem;
          text-transform: uppercase;
          width: 25%;
        }

        @include media($mobile-breakpoint) {
          th:first-child,
          th:last-child {
            display: none;
          }
        }
      }

      td {
        border: 0;
        padding-top: 1rem;
      }

      tbody tr:last-child {
        border-bottom: 0;
      }

      @include media($mobile-breakpoint) {
        tbody td:first-child,
        tbody td:last-child {
          display: none;
      }
    }

      button {
        margin-top: 0;
        width: 85%;
      }
    }
  }
}

dl dt.list-multi-control {
  width: 100%;

  h3 {
    font-weight: 400;
    margin: 0 0 1rem;
    text-transform: none;
    width: 100%;
  }
}

// This block styles the table set in the <dl>
// TODO: Combine this layout w/ the one above
// TODO: refactor code to address nested style depth being too deep.
// TODO: refactor so the table is not dependent on being embedded in the <dl>

dl dd.multi-item-list,
.nypl-results-item {
  width: 100%;

  .nypl-basic-table {

    thead {
      border-bottom: $general-border-width / 1.5 solid $nypl-gray-cool;
    } // /thead

    th {
      border: 0;
      font-size: 0.85rem;
      padding-bottom: 1rem;
      text-transform: uppercase;
      width: 25%;
    }

    @include media($mobile-breakpoint) {
      th:first-child,
      th:last-child {
        display: none;
      }
    }

    td {
      border: 0;
      padding-top: 1rem;
    }

    tbody tr:last-child {
      border-bottom: 0;
    }

    @include media($mobile-breakpoint) {
      tbody td:first-child,
      tbody td:last-child {
        display: none;
    }
  }

    button {
      @include basic-button(
        $text-color: $nypl-red,
        $background-color: $nypl-white,
        $border-color: $nypl-red,
        $border-radius: $general-border-radius / 1.5,
        $border-width: $general-border-width / 1.5,
        $font-size: 0.8rem,
        $height: 2.5rem,
        $letter-spacing: 0.06rem,
        $text-transform: uppercase);
      margin-top: 0;
      width: 85%;

      @include media($mobile-breakpoint) {
        display: inline-block;
        width: 65%;
      }

      &:hover {
        background-color: $nypl-red;
        border-color: $nypl-red;
        color: $nypl-white;
      }
    }
  }
}

////
// Styles for docs/discovery-search.v3.html
.nypl-results-sorting-controls.style-2 {
  @include results-sorting-controls(
    $border: 0,
    $text-transform: uppercase);

  // TODO: make use of current mixin(s) here:
  .nypl-results-sorter {
    button {
      border-color: lighten($nypl-gray-cool, 15%);
      border-width: $general-border-width / 2;
      font-size: 0.85rem;
      padding-left: ($general-padding * 1.75);
      padding-right: ($general-padding * 2);
      text-transform: uppercase;

      &:hover {
        background-color: $page-color;
        color: $page-background-color;
        } // /:hover

      .nypl-icon {
        fill: lighten($nypl-gray-cool, 15%);
        }
      } // /button
    } // / .nypl-results-sorter
  } // /nypl-results-sorting-controls.style-2

.nypl-results-list {

  .nypl-results-item {
    @include results-item;
    border: 0;

    h2 {
      margin-bottom: 0;
    }

    .nypl-results-media {
      @include results-media(
        $color: $nypl-dark-gray,
        $font-size: 0.85rem,
        $font-weight: 400);
    } // /.nypl-results-media

    // TODO: find a more elegant way of writing this:
    // Posibly a for/in thing...
    .nypl-results-room,
    .nypl-results-place,
    .nypl-results-publisher,
    .nypl-results-date,
    .nypl-results-info {
      font-size: 0.85rem;
    } // /.nypl-results-room
  } // /.nypl-results-item
}

// numbered pager -approach 1:
.nypl-numbered-pager {
  @include numbered-pager;
} // .nypl-results-pagination

// numbered pager -approach 2:
.nypl-numbered-pager-2 {
  @include numbered-pager;
  position: relative;

  @include media($mobile-breakpoint) {
    padding: 0 4% 4rem;
  }

  .pager {

    .pages {
      @include clearfix;
      @include media($mobile-breakpoint) {
        float: none;
        padding: 2% 0;
        width: 100%;
      }

      border: ($general-border-width / 1.5);
      float: left;
      width: 60%;

      .pager-item {
        //margin: 0.5rem 0 0.5rem 9%;
        margin-right: 6.5%;
        padding: 0.25em 1.66667%;
        text-align: center;
        width: 10%;

        &:last-child {
          margin-right: 0;
        }

      } // /.pager-item
  }

    .previous,
    .next {

      @include media($mobile-breakpoint) {
        float: none;
        padding: 0 2%;
        position: absolute;
        top: 4rem;
      }

      float: left;
      position: static;
      width: 20%;

    } // /.pager-previous / .pager-next

    .next {
      @include media($mobile-breakpoint) {
        right: 1rem;
        text-align: right;
      }
    } // /.pager-next
  }
} // /.nypl-numbered-pager-2
