@import "nypl-normalize";
@import "grid";
@import "header";
@import "tables-results";
@import "buttons";
@import "footer";

// using the system

.content-wrapper {
  @include full-width-wrapper;
}

.page-header, .my-page-header {
  @include page-header;
}

.my-breadcrumb {
  @include breadcrumbs;
}

.my-content-wrapper {
  @include full-width-wrapper;
}

.my-row {
  @include grid-row;
  background-color: gray;
}

.my-col-full {
  @include column-full;

  p {
    background-color: blue;
    color: white;
  }
}

.my-col-half {
  @include column-half;

  p {
    background-color: yellow;
    color: black;
  }
}

.my-col-three-quarters {
  @include column-three-quarters;

  p {
    background-color: green;
    color: white;
  }
}

.my-col-quarter {
  @include column-one-quarter;

  p {
    background-color: blue;
    color: white;
  }
}

#filter-search {
  @include search-form;
}

.full {
  @include column-full;
}

.quarter {
  @include column-one-quarter;
}

.third {
  @include column-one-third;
}

.two-third {
  @include column-two-thirds;
}

.three-quarter {
  @include column-three-quarters;
}

.inner {
  @include inner-block;
}

.results-summary {
  @include results-summary;
}

.results-pagination {
  @include results-pagination;
}

table, .views-table {
  @include views-table;
}

#location-info {
  @include location-info;
}

.location-hours {
  @include location-hours;
}

.related-links {
  @include related-links;
}

.secondary-title {
  @include secondary-title;
}

div.location fieldset, fieldset.select {
  @include select-fieldset;
}

fieldset.textfield {
  @include text-fieldset;
}

fieldset.alphabetical {
  @include alphabetical-filter;
}

fieldset.radiogroup {
  @include radiobutton-fieldset;
}

// buttons
.your-button-class {
  @include basic-button;
}

.request-button {
  @include request-button;
}

.your-rounded-button {
  @include basic-button($border-radius: 1rem);
}

.row {
  @include column-full;
}