/*
Error: Invalid CSS after "": expected selector, was "<<<<<<< HEAD"
        on line 34 of sass/_toolkit.scss
        from line 2 of sass/example-styles.scss

29:   background-color: $nypl-white;
30:   border: 0;
31:   color: $link-color;
32:   display: block;
33:   font-size: 13px;
34:   height: 1px;
35:   left: -10000px;
36:   line-height: 2;
37:   overflow: hidden;
38:   padding: 5px 10px 3px;
39:   position: absolute;

Backtrace:
sass/_toolkit.scss:34
sass/example-styles.scss:2
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1207:in `expected'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1137:in `expected'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1117:in `expr!'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/scss/static_parser.rb:20:in `parse_selector'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:427:in `visit_rule'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block (2 levels) in visit_import'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `map'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block in visit_import'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:88:in `block in with_import'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:88:in `with_import'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/mga/.rvm/rubies/ruby-2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"\": expected selector, was \"<<<<<<< HEAD\"\A         on line 34 of sass/_toolkit.scss\A         from line 2 of sass/example-styles.scss\A \A 29:   background-color: $nypl-white;\A 30:   border: 0;\A 31:   color: $link-color;\A 32:   display: block;\A 33:   font-size: 13px;\A 34:   height: 1px;\A 35:   left: -10000px;\A 36:   line-height: 2;\A 37:   overflow: hidden;\A 38:   padding: 5px 10px 3px;\A 39:   position: absolute;"; }
